<!DOCTYPE html>
<html>
    <head>
        <title>Kaikki vinkit</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <p></p>
        <a href="/"> etusivu </a>
        <p></p>
        <h2>Tips in database</h2>
        
        <!-- print all the values in list -->
        <ul>
            <li th:each="tip : ${tips}">
                Vinkki: <span th:text="${tip.toString()}">vinkki</span>
                <p></p>
                <a th:href="@{${tip.type}+${tip.id}}">Lisätietoja </a>
                <p></p>
            </li>
        </ul>
    </body>
</html>
