<!DOCTYPE html>
<html>

    <head>
        <title>Kirjat</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- minified Bootstrap css -->
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Lukuvinkkikirjasto</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/">Etusivu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/books">Kirjat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/blogs">Blogit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/all">Kaikki vinkit</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <!-- Page content --> 
        <div class="container">

            <h2>Kirjavinkit</h2>

            <div class="row">
                <div class="col-sm">
                    <!-- input field for search + button -->
                    <form action="#" th:action="@{/books/}" method="get">
                        <input th:id="searchfield" type="text" th:name="keyword" th:placeholder="Hakusana..." />
                        <input th:id="search" type="submit" value="Hae" /> 
                    </form>
                </div>
                <div class="col-sm-auto">
                    <a href="/books/new" class="btn btn-primary">uusi kirja</a>                    
                </div>
            </div>


            <!-- fill a table with values -->
            <table class="table table-striped">
                <tr>
                    <th>Nimi</th>
                    <th>Kirjailija</th>
                    <th>Kuvaus</th>
                    <th></th>
                </tr>
                <tr th:each="book: ${books}">
                    <td>
                        <span th:text="${book.title}">title</span>
                    </td>
                    <td>
                        <span th:text="${book.writer}">writer</span>
                    </td>
                    <td>
                        <span th:text="${book.description}">description</span>
                    </td>
                    <td>
                        <a th:href="@{'/books/' + ${book.id}}">Lisätietoja / muokkaus</a>
                    </td>
                </tr>
            </table>

        </div>




        <!-- Compiled and minified JavaScript -->
        <script src="/js/bootstrap.min.js"></script>
    </body>

</html>
