<html>
    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Lukuvinkkikirjasto</title>
        
        <!-- minified Bootstrap css -->
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    </head>
    
    <body>
        <h1>Lukuvinkkikirjasto</h1>
        <ul>
            <li><a href="books">Kirjat</a></li>
            <li><a href="blogs">Blogit</a></li>
            <li><a href="all">Kaikki vinkit</a></li>
        </ul>
        
        <!-- Compiled and minified JavaScript -->
        <script src="/js/bootstrap.min.js"></script>
    </body>
    
</html>
