<!DOCTYPE html>

<html>
    <head>
        <title>Uusi tagi</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Lukuvinkkikirjasto</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/">Etusivu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/books">Kirjat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/blogs">Blogit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/all">Kaikki vinkit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/tag/new">Lisää tag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/newtag">Uusi tägi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        
        <div class="container">
            <br/>
            <h3>Lisää uusi tägi</h3>
        
        <form action="#" th:action="@{/newtag}" th:object="${tag}" method="post">
            <div class="form-group">
                <label for="name">Tag</label>
                <input class="form-control" th:id="name" type="text" th:field="${tag.name}" />
            </div>
            <button class="btn btn-primary" th:id="submit" type="submit">Lisää</button>
       	</form>
       
        </div>
        
        <script src="/js/bootstrap.min.js"></script>

    </body>
</html>
