<!DOCTYPE html>
<html>
    <head>
        <title>Kirja:</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <p></p>
        <td>
            <a href="/"> etusivu </a>
        </td>
        &nbsp; &nbsp;
        <td>
            <a href="/books/new"> uusi kirja </a>
        </td> 
        &nbsp; &nbsp;
        <td>
            <a href="/books"> kirjavalikko </a>
        </td> 
        <br></br>
        
        <h2>Kirjan tiedot</h2>
        <p><span th:text="${book.title}">hello world</span></p>
        <td>
            <p>Kirjoittaja: <span th:text="${book.writer}">ll</span></p>
            <p>ISBN:    <span th:text="${book.isbn}">ll</span></p>
            <p>Kuvaus:  <span th:text="${book.description}">ll</span></p>
            <p>Luettu:  <span th:text="${book.isRead ? 'Kyllä' : 'Ei' }">ll</span></p>
            <p>Päiväys: <span th:text="${book.isRead ? book.dayOfRead : 'N/A'}">ll</span></p>
        </td>
        
        <br></br><br></br>
        <h3>Muokkaa kirjan tietoja</h3>
                <form action="#" th:action="@{'/books/' + ${book.id}}" th:object="${book}" method="post">
                <p>Nimi: <input th:id="title" type="text" th:field="${book.title}" /></p>
               	<p>Kirjoittaja: <input th:id="author" type="text" th:field="${book.writer}" /></p>
                <p>ISBN: <input th:id="isbn" type="text" th:field="${book.isbn}" /></p>
                <p>Kuvaus:</p> <textarea th:id="description" th:field="${book.description}"></textarea>
                
                <p><input th:id="submit" type="submit" value="Submit" /></p> 
       	</form>
        <br></br>
        <h3>Poista kirja</h3>
        <form action="#" th:action="@{'/books/' + ${book.id}} + '/delete'" th:object="${book}" method="delete">
            <input th:id="submit" type="submit" value="Poista"/>
        </form>    
            

    </body>
</html>