<!DOCTYPE html>
<html>
    <head>
        <title>Blogivinkki</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- minified Bootstrap css -->
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    </head>


    <body>
        <!--Navigaton bar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Lukuvinkkikirjasto</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/">Etusivu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/books">Kirjat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/blogs">Blogit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/all">Kaikki vinkit</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page content-->
        <div class="container">

            <br/>
            <h2>Blogin tiedot</h2>
            <p><span th:text="${blog.title}">hello world</span></p>
            <p>Kirjoittaja: <span th:text="${blog.writer}">Blogin kirjoittaja</span></p>
            <p>URL:    <span th:text="${blog.url}">Blogin URL</span></p>
            <p>Kuvaus:  <span th:text="${blog.description}">ll</span></p>
            <p>Luettu:  <span th:text="${blog.isRead ? 'Kyllä' : 'Ei' }">ll</span></p>
            <p>Päiväys: <span th:text="${blog.isRead ? blog.dayOfRead : 'N/A'}">ll</span></p>
            <p>Tägit: <span class="badge badge-info" th:each="tag :${blog.tags}" th:text="${tag}">täg</span></p>

            <br/>
            <br/>
            <h3>Muokkaa blogin tietoja</h3>

            <form action="#" th:action="@{'/blogs/' + ${blog.id}}" th:object="${blog}" method="post">
                <div class="form-group">
                    <label for="title">Nimi</label>
                    <input class="form-control" th:id="title" type="text" th:field="${blog.title}" />
                </div>
                <div class="form-group">
                    <label for="author">Kirjoittaja</label>
                    <input class="form-control" th:id="author" type="text" th:field="${blog.writer}" />
                </div>
                <div class="form-group">
                    <label for="isbn">URL</label>
                    <input class="form-control" th:id="isbn" type="text" th:field="${blog.url}" />
                </div>
                <div class="form-group">
                    <label for="description">Kuvaus</label>
                    <textarea class="form-control" th:id="description" th:field="${blog.description}"></textarea>
                </div>
                <button class="btn btn-primary" th:id="submit" type="submit">Tallenna</button>
            </form>

            <br/>
            <br/>
            <h3>Poista blogi</h3>

            <form action="#" th:action="@{'/blogs/' + ${blog.id}} + '/delete'" th:object="${blog}" method="delete">
                <button class="btn btn-danger" th:id="deleteButton" type="submit" >Poista</button>
            </form>

            <br/>
            <br/>

        </div>

        <!-- Compiled and minified JavaScript -->
        <script src="/js/bootstrap.min.js"></script>
    </body>

</html>